/* App.css или index.css */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.page-container {
    /*padding-top: 64px;*/
    /*margin-top: -64px;*/
    height: calc(100vh - 64px);
    overflow: auto;
}
